<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		{{!-- Google Fonts --}}
		<link href="https://fonts.googleapis.com/css2?family=Ranchers&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
		{{!-- FONT AWESOME --}}

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

		<title>EAT THE BURGER!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/script.js"></script>
	</head>
	
	<body>
		{{{ body }}}
	</body>
</html>