/* ------ GLOBAL ------ */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1 {
    font-family: 'Ranchers', cursive;
    font-size: 60px;
    margin: 0 auto;
    align-content: center;

}


h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    margin-bottom: 10px;
}

button {
    background-color: blanchedalmond;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    border: blanchedalmond 2px solid;
    background-color: white;
}

/* ----- HEADER ------- */

header {
    position: relative;
    text-align: center;
    padding: 20px;
    margin: 0;

}


#img {
    width: auto;
    max-height: 500px;
}

.title {

    position: absolute;
    top: 250px;
    right: 0px;
    margin: 0;
    background: rgba(148, 165, 52, 0.7);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}


/* ----- CONTENT SECTION ------- */
.column {
    float: left;
    width: 50%;
    padding: 15px;
    -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.wrapper {
    display: -webkit-flex;
  display: flex;
}

.wrapper:after {
    content: "";
    display: table;
    clear: both;
}

section {
    margin-left: 20px;
}

.not-devoured {}

.devoured {}

ul {
    list-style: none;
}

li {
    font-size: 24px;
}

/* ----- ADD A BURGER SECTION ------- */

.add {
    background-color: rgb(49, 122, 49);
    color: #f1f1f1;
    text-align: center;
}

.create-form {
    padding: 30px;
}

input[type=text] {
    background-color: white;
    border: none;
    padding: 10px;
}

label {
    font-size: 20px;
}





@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}