/* ------ GLOBAL ------ */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1 {
    font-family: 'Ranchers', cursive;
    font-size: 60px;
    margin: 0 auto;
    align-content: center;

}


h3 {
    font-family: 'Ranchers', cursive;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 0;
    color: #fffef1;;
}

button {
    background-color: #fbffd7;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    border: #fbffd7 1px solid;
    background-color: transparent;
    color: #fffef1;
}

/* ----- HEADER ------- */

header {
    position: relative;
    text-align: center;
    padding: 20px;
    margin: 0;

}


#img {
    width: auto;
    max-height: 500px;
}

.title {

    position: absolute;
    top: 250px;
    right: 0px;
    margin: 0;
    background: rgba(148, 165, 52, 0.7);
    color: #fffef1;
    width: 100%;
    padding: 20px;
}


/* ----- CONTENT SECTION ------- */

.wrapper {
    display: -webkit-flex;
    display: flex;
    padding: 0 20px;
    background-color: tomato;
}

.wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
    padding: 15px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}

ul {
    list-style: none;
}

li {
    padding: 10px;
}

.burgerName {
    font-size: 24px;
    margin-right: 20px;
    color: #fffef1;
}

/* ----- ADD A BURGER SECTION ------- */

.add {
    background-color: rgba(148, 165, 52, 0.7);
    
    text-align: center;
}

.fas {
    min-width: 30px;
}

.create-form {
    padding: 30px;
}

input[type=text] {
    background-color: white;
    border: none;
    padding: 10px;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}